{#=====================================================
  Home page
  - Hero style greeting banner
  - List of tasks passed in as 'tasks' array
  - Form for adding a new task
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo

{% endblock %}


{% block content %}

    <h1>Flask Demo App with Turso DB</h1>

    <p>This is a simple Flask app that connects to a Turso database to save and retrieve data. This can be used as the basis of your web app.</p>

    <p>It includes...</p>

    <ul>
        <li>Example routes</li>
        <li>Example static pages</li>
        <li>Missing page and server error pages</li>
        <li>DB connection and error handling</li>
        <li>Example CRUD actions: Create and Delete</li>
        <li>Flash messages for information</li>
    </ul>

    <a href="/tasks" role="button">To Tasks</a>

    </article>
   

    <article>

        <ul>
            {% for task in tasks %}

                <li>
                    <a href="/task/{{ task.id }}">
                        {{ task.name }}
                    </a>
                </li>

            {% else %}

                <p>You have no tasks!</p>

            {% endfor %}
        </ul>

    </article>

    <article>

        <h3>Add Task</h3>

        <form action="/add" method="POST">

            <input
                type="text"
                name="name"
                placeholder="Name of new task"
                required
            >

            <input
                type="number"
                name="priority"
                min="0"
                placeholder="Task number"
                required
            >

            <button>Add a task</button>

        </form>

    </article>
{% endblock %}


