{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo

{% endblock %}


{% block content %}

    <h1>Tasks to do</h1>


   

    <article>

           
        {% for task in tasks %}
    
            <li>
                   {% if task.complete %}
            🗹 
           {% else %}
            ☐
           {% endif %}
                        
            {{ task.priority }} {{ task.name }}
          
      
            </li>  

            {% else %}

            <p>fill in later</p>

        {% endfor %}

    </article>



    <article>

        <h3>Add Task...</h3>

        <form action="/add" method="POST" role="group">

            <input
                type="text"
                name="name"
                placeholder="Name of new task"
                required
            >

            <input
                type="number"
                name="priority"
                min="1"
                placeholder="Priority level"
                max="5"
                required
            >

            <button>Add  Task</button>

        </form>

    </article>

{% endblock %}