{#=====================================================
  task page
  - Shows details of a single task
  - Has a delete link to remove it
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo - Single task

{% endblock %}


{% block content %}

    <h1>A Single task...</h1>


    <article>

        <header>
            <h3>{{ tasks.name }}</h3>
        </header>

        <p>Price: <strong>${{ tasks.price }}</strong></p>

        <footer>
            <a href="/delete/{{ task.id }}" onclick="return confirm('Really delete?');">Delete</a>
        </footer>

    </article>


    <a role="button" href="/tasks.jinja">Back to task List</a>

{% endblock %}

